       /* 以下是英文字型，是標題大小，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 (只有食譜細節頁的標題會改粗體可以直接在html裡加粗體的標籤)*/
        .en_font {
            font-family: 'Lao MN', 'Arya';
            font-size: 2rem;
            color: #5C7880;
        }

        /* 以下是中文字型＿light，內文用，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
        .noto_light {
            font-family: 'Noto Sans TC';
            font-weight: 300;
            /* 這是次細的(light) */
            letter-spacing: 2px;
            font-size: 1.3rem;
            color: #5C7880;

        }

        /* 以下是中文字型_thin，次要內文用，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
        .noto_thin {
            font-family: 'Noto Sans TC';
            font-weight: 100;
            /* 這是最細的(thin) */
            letter-spacing: 2px;
            /* font-size: 1.3rem; */
            /* color: #5C7880; */

        }

        /* 以下是中文字型標題大小 regular，頁面大標題用，如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
        .noto_regular {
            font-family: 'Noto Sans TC';
            letter-spacing: 2px;
            font-size: 2rem;
            color: #5C7880;

        }

        .cursor {
            cursor: pointer;
        }


        .e_cart_hr {
            background-color: #5C7880;
            margin-bottom: 50px;

        }

        .e_cart {
            margin-top: 100px;
        }

        .e_cart p {
            margin: 0 auto;
            margin-bottom: 80px;
            text-align: center;
            font-size: 1.8rem;
        }


        /* btn 模組 */
        .e_btn {
            width: 372px;
            height: 70px;
            border: 0;
            background-color: #E67348;
            color: #fff;
            font-size: 1.3rem;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
        }

        .e_btn:hover {
            background-color: #D3554A;

        }

        .e_btn:focus {
            outline: none;
        }


        .e_btn_outline {
            width: 372px;
            height: 70px;
            background-color: #fff;
            border: 2px solid #E67348;
            color: #E67348;
            font-size: 1.3rem;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;

        }

        .e_btn_outline:hover {
            background-color: #E67348;
            color: #fff;
        }

        .e_btn_outline:focus {
            outline: none;
        }

        .e_cart_btn {
            margin-top: 50px;
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
        }


        @media screen and (max-width: 992px) {


            .e_cart_btn {
                flex-direction: column;
            }

            .e_btn {
                width: 100%;
            }

            .e_btn_outline {
                width: 100%;
                margin-bottom: 20px;
            }
        }


        /* -----------以上是模組------------- */


        /* --------------- Process Styles ------------ */
        .process_wrap {
            width: 50%;
            margin: 0 auto;
            margin-top: 50px;
        }

        .process_main {
            width: 100%;
            display: flex;
            margin-bottom: 100px;
        }

        .e_col_5 {
            width: 20%;
            margin-left: 10px;
            margin-right: 10px;
            position: relative;
        }

        .process_main .e_col_5:not(:first-child):before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            top: 30px;
            left: calc(-50%);
            right: 0;
            background: #5C7880;
            transition: .4s;
        }

        .process_step_cont {
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: space-between;
        }

        .process_step {
            font-size: 2rem;
            border-radius: 100%;
            background: #C8DBD8;
            text-align: center;
            line-height: 2;
            justify-content: center;
            align-self: center;
            display: flex;
            color: #fff;
            width: 60px;
            height: 60px;
            margin-bottom: 15px;
            z-index: 4;
            cursor: pointer;
        }


        .process_label {
            width: 100%;
            text-align: center;
        }

        .process_dot_cont {
            display: flex;
            justify-content: space-around;
            align-items: stretch;
            width: 60%;
            padding-top: 5px;
        }

        /* --------控制 process bar 第幾顆變色--------- */

        .active_step .e_col_5:nth-child(1) .process_step {
            background-color: #E67348;

        }

        @media screen and (max-width: 992px) {
            .process_step {
                font-size: 1.6rem;
                width: 50px;
                height: 50px;

            }

            .process_main .e_col_5:not(:first-child):before {
                top: 25px;

            }

            .process_wrap {
                width: 90%;
            }

            .process_main {
                margin-bottom: 100px;
            }
        }

        @media screen and (max-width: 576px) {

            .process_label {
                display: none;
            }

            .process_main {
                margin-bottom: 50px;
            }

        }

        /* -------------- Process Styles end ---------------*/


        /*  -------------以下是購物車nav--------------- */

        .e_cart_title {
            border-bottom: 1px solid #5C7880;
            margin-bottom: 50px;
        }

        .e_cart_title ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;

        }

        .e_cart_title ul li {
            text-align: center;
            display: block;
        }

        .d_flex {
            display: flex;
        }

        .e_img_w {
            width: 100px;
            margin-right: 20px;
        }

        .e_w {
            width: 120px;
        }

        .e_item_w {
            width: 250px;

        }

        .e_icon_w {
            width: 70px;

        }


        /*  -------------以下是購物車是空的--------------- */
        /* 空的時候是display: none; */
        .e_no_items {
            display: none;
        }

        /* 空的時候是display: none; */
        .e_empty_cart {
            text-align: center;
            font-size: 1.6rem;
            padding: 80px 0;

        }

        .e_no_items hr {
            margin-top: 50px;
            background-color: #5C7880;

        }

        .continue_shopping {
            margin-top: 40px;
            text-align: center;
            margin-bottom: 100px;

        }

        /* -------------購物車是空的 end------------ */


        /* ------------以下是推薦商品------------- */


        .e_recommend_item_wrap {
            display: flex;
            justify-content: space-between;

        }

        .col_3 {
            width: 22%;
        }

        .recommend_img_size {
            width: 100%;
            margin-bottom: 10px;
        }

        .recommend_img_size img {
            width: 100%;
            height: 100%;
            background: #dcdcdc;
            object-fit: contain;

        }

        .e_recommend_item_text {
            display: flex;
            flex-direction: column;
        }

        .e_recommend_item a,
        .e_item_w a {
            color: #5C7880;
        }

        .e_recommend_item a,
        .e_item_w a:hover {
            text-decoration: none;
        }


        .e_recommend_item_name,
        .e_item_price {
            font-size: 1.3rem;
        }

        .e_recommend_item .e_recommend_item_name {
            margin-bottom: 0;
        }

        .e_item_price {
            margin-top: 30px;
            margin-bottom: 30px;
        }


        @media screen and (max-width: 992px) {
            .e_cart_title {
                display: none;
            }

            .e_cart_recommend p:first-child {
                text-align: center;
            }

            .col_3 {
                width: 47%;
            }

            .e_recommend_item_wrap {
                flex-wrap: wrap;
            }


        }

        /* ------------推薦商品 end------------- */


        /* ------------以下是購物車有商品-------------- */
        /* 空的時候打開 */
        /* .e_cart_items_outerwrapper {
            display: none;
        } */
        /* 空的時候打開 */
        .e_cart_items_innerwrapper {
            margin-bottom: 50px;
        }


        .e_cart_items_innerwrapper ul {
            list-style: none;
            padding: 0;
        }

        .e_cart_item {
            display: flex;
            justify-content: space-between;
        }


        .d_colum {
            display: flex;
            flex-flow: column;

        }

        .d_colum .d_flex {
            display: flex;
        }


        .e_img_w img {
            background: #dcdcdc;
            width: 100%;
            object-fit: cover;
        }

        .e_cart_item_name {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        .e_cart_item_name_zh,
        .e_cart_item_price {
            font-size: 1.2rem;

        }

        .e_cart_item_weight {
            font-size: 1.1rem;

        }

        .e_subtotal {
            text-align: center;
            font-size: 1.2rem;

        }


        .e_add {
            width: 100%;
            height: 40px;
            border: 1px solid #5C7880;
            display: flex;
            justify-content: space-between;
        }

        .e_add p {
            font-size: 1.2rem;
            line-height: 2.1;

        }

        .e_addjust {
            width: 35px;
            height: 39px;
            cursor: pointer;
        }

        .center {
            display: block;
            text-align: center;
            line-height: 2.3;
            color: #5C7880;
            font-size: 1rem;
            padding-left: 2px;
        }

        .minus {
            border-right: 1px solid #5C7880;

        }

        .plus {
            border-left: 1px solid #5C7880;

        }

        .e_operate_icon {
            width: 70px;
            display: flex;
            justify-content: space-between;
        }

        .e_cart_operate_icon {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        .e_operate_icon svg {
            width: 100%;
            fill: #5C7880;
        }

        .e_none_display_w {
            display: none;
        }


        @media screen and (max-width: 992px) {
            .e_cart_items_innerwrapper ul {
                flex-direction: column;

            }

            .e_img_w {
                width: 250px;
            }

            .e_mt10 {
                margin-top: 10px;
            }

            .e_mt20 {
                margin-top: 20px;
            }

            .e_cart_item_name {
                font-size: 1.3rem;
            }

        }


        /* --------以下是數量按紐--------- */
        .minus {
            border: 1px solid #5C7880;
            width: 30px;
            color: #5C7880;

        }

        .add {
            width: 30px;
            border: 1px solid #5C7880;
            color: #5C7880;
        }

        .input-box {
            display: inline-block;
            min-width: 50px;
            border: 1px solid #5C7880;
            text-align: center;

        }

        .input-box:focus {
            outline: none;
        }

        .number-box {
            display: flex;
            justify-content: center;
        }

        .number-box button:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem #C8DBD8;

        }


        /* --------以下是總金額--------- */

        .sum {
            height: 50px;
            display: flex;
            justify-content: flex-end;

        }

        .e_col_3_full {
            width: 25%;
            position: relative;
        }

        .e_sum_fontsize {
            font-size: 1.3rem;
            text-align: right;
        }

        .e_sum_fontsize_en {
            font-size: 1.3rem;
            line-height: 1.7;
            text-align: left;
        }

        .e_position {
            position: absolute;
            right: 0;
        }

        .e_position_en {
            position: absolute;
            right: 0;
        }

        .sum_wrapper p {
            color: #D3554A;
            text-align: right;

        }


        @media screen and (max-width: 992px) {
            .e_col_3_full {
                width: 50%;
            }

            .e_none_display_w {
                display: inherit;
            }

            .e_none_display_m {
                display: none;
            }

        }


        /* --navbar margin top */
        nav {
            margin-top: 76px;
        }

        /* heart icon */
        .fas {
            color: #5C7880;
        }
