/* 以下是英文字型，是標題大小，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 (只有食譜細節頁的標題會改粗體可以直接在html裡加粗體的標籤)*/
.en_font {
    font-family: 'Lao MN', 'Arya';
    font-size: 2rem;
    color: #5C7880;
}

/* 以下是中文字型＿light，內文用，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
.noto_light {
    font-family: 'Noto Sans TC';
    font-weight: 300;
    /* 這是次細的(light) */
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: #5C7880;

}

/* 以下是中文字型_thin，次要內文用，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
.noto_thin {
    font-family: 'Noto Sans TC';
    font-weight: 100;
    /* 這是最細的(thin) */
    letter-spacing: 2px;
    /* font-size: 1.3rem;
    color: #5C7880; */

}

/* 以下是中文字型標題大小 regular，頁面大標題用，如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
.noto_regular {
    font-family: 'Noto Sans TC';
    letter-spacing: 2px;
    font-size: 2rem;
    color: #5C7880;

}

.cursor {
    cursor: pointer;
}

.e_cart_hr {
    background-color: #5C7880;
    margin-bottom: 50px;

}

.e_cart {
    margin-top: 100px;
}

.e_cart p {
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
    font-size: 1.8rem;
}

/* btn 模組 */
.e_btn {
    width: 372px;
    height: 70px;
    border: 0;
    background-color: #E67348;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.e_btn:hover {
    background-color: #D3554A;

}

.e_btn:focus {
    outline: none;
}

.e_btn_outline {
    width: 372px;
    height: 70px;
    background-color: #fff;
    border: 2px solid #E67348;
    color: #E67348;
    font-size: 1.3rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding-top: 18px; /*  */

}

.e_btn_outline:hover {
    background-color: #E67348;
    color: #fff;
}

.e_btn_outline:focus {
    outline: none;
}

.e_cart_btn {
    margin-top: 50px;
    /* margin-bottom: 100px; */
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {

    .e_cart_btn {
        flex-direction: column;
    }

    .e_btn {
        width: 100%;
    }

    .e_btn_outline {
        width: 100%;
        margin-bottom: 20px;
    }

}

/* ----------- 以上是模組 ------------- */

/* --------------- Process Styles ------------ */
.process_wrap {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.process_main {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.e_col_5 {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.process_main .e_col_5:not(:first-child):before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 30px;
    left: calc(-50%);
    right: 0;
    background: #5C7880;
    transition: .4s;
}

.process_step_cont {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

.process_step {
    font-size: 2rem;
    border-radius: 100%;
    background: #C8DBD8;
    text-align: center;
    line-height: 2;
    justify-content: center;
    align-self: center;
    display: flex;
    color: #fff;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    z-index: 4;
    cursor: pointer;
}

.process_label {
    width: 100%;
    text-align: center;
}

.process_dot_cont {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 60%;
    padding-top: 5px;
}

/* ---------- 控制 process bar 第幾顆變色 ----------- */
.active_step .e_col_5:nth-child(2) .process_step {
    background-color: #E67348;

}

@media screen and (max-width: 992px) {
    .process_step {
        font-size: 1.6rem;
        width: 50px;
        height: 50px;

    }

    .process_main .e_col_5:not(:first-child):before {
        top: 25px;

    }

    .process_wrap {
        width: 90%;
    }

    .process_main {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 576px) {

    .process_label {
        display: none;
    }

    .process_main {
        margin-bottom: 50px;
    }

}

/* -------------- Process Styles end ---------------*/

/* --------------------- 以下是選單 --------------------- */



.e_col_4 {
    width: 45%;
}

@media screen and (max-width: 992px) {
    .e_col_4 {
        width: 100%;
    }

}

/*the container must be positioned relative:*/
.e_custom_select {
    position: relative;
    border-radius: .3rem;
    border: 1px solid #5C7880;
    margin-bottom: 15px;
    font-size: 1.2rem;

}

.e_custom_select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    color: #5C7880;
    border: 1px solid #5C7880;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 26px;
    right: 15px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #5C7880 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #5C7880 transparent;
    top: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #5C7880;
    padding: 12px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;

}

/*style items (options):*/
.select-items {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: .3rem;
    border: 1px solid #5C7880;
    background: #fff;

}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #C8DBD8;
    border-radius: .2rem;
}

.e_delivery_method {
    margin-bottom: 150px;
}

.e_terms {
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 50px;
}

.e_terms a {
    text-decoration: underline;
    color: #5C7880;
}

.e_area_select .select-selected {
    padding: 0;
    border: none;

}

/* -------------------- 選單 end --------------------- */

/* -------------------- 訂購資料顯示 （會員） --------------------- */

/* .e_member_delivery_info{
    display: none;
} */
/* -------------------- 訂購資料及配送資訊（首次）顯示 --------------------- */

/* .e_first_order_delivery_info{
    display: none;
} */

/* -------------------- 訂購資料及配送資訊 --------------------- */
.e_first_order_info {
    margin-bottom: 20px;
    border: 1px solid #5C7880;

}

.e_save_add {
    background: #5C7880;
    color: #fff;
    font-family: 'Noto Sans TC';
    font-size: 1rem;
    font-weight: 200;
    margin-left: 10px;
    letter-spacing: 1px;
    padding: 10px 14px;
}

.e_save_add:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #C8DBD8;

}

.e_first_order_info_body {
    padding: 2.5rem 1.5rem;

}

.e_first_order_info_body .form-group {
    margin: 0;
    margin-top: 1rem;

}

.e_first_order_info_body small {
    font-family: 'Noto Sans TC';
    font-size: 1rem;
    font-weight: 300;
    color: #5C7880;

}

.e_first_order_info_body .e_order_info_alert {
    color: #D3554A;
}

.e_first_order_info_body .form-control {
    border: 1px solid #5C7880;
    height: calc(2.75rem);
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #5C7880;
    font-weight: 300;
}

.e_first_order_info_body .form-control::placeholder {
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 100;
    color: #5C7880;

}

.e_first_order_info_body .form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #C8DBD8;
}

.e_first_order_info_body .col-3 {
    max-width: 19%;
}

.e_first_order_info_body
.form-inline label {
    justify-content: flex-start;
}

.e_margin_b {
    margin-bottom: 17px;
}

.e_col_4_add .e_col_zip {
    width: 20%;
}

.e_col_4_add {
    width: 57%;
}

.e_col_3 {
    max-width: 18%;
    flex: 0 0 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

@media screen and (min-width: 300px) {
    .form-inline .form-control {
        display: inline-block;
        width: 31.5%;
        vertical-align: middle;
    }
}

@media screen and (max-width: 520px) {
    .col-sm-2 {
        width: 25%;
    }

    .e_first_order_info_body {
        padding: 2.5rem 1rem;
    }

    .e_first_order_info_body .form-control {
        font-size: 1.1rem;
        letter-spacing: normal;
    }

}

@media screen and (max-width: 768px) {

    form{
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-9 {
        flex: 100%;
        max-width: 100%;
    }

    .col-sm-2 {
        width: 20%;
    }

    .e_time_select .e_col_3 {
        max-width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    .e_none_display_m, .e_first_order_info_body .col-3 {
        display: none;

    }

    .e_first_order_info_body .col-4 {
        max-width: 100%;
        flex: 100%;
    }

    .e_col_4_add {
        width: 100%;

    }

    .col-7 {
        flex: 100%;
        max-width: 100%;
    }

    .col-9 {
        flex: 100%;
        max-width: 100%;
    }

    .e_col_3 {
        max-width: 25%;
    }

    .e_save_add {
        margin-left: 0px;
        margin-top: 10px;

    }

}

/* -------------------- 發票資訊 --------------------- */

.e_receipt_info_text {
    margin-top: 50px;
    font-size: 1.2rem;
}

.e_agree_terms {
    margin-top: 50px;
    font-size: 1.2rem;

}

.e_agree_terms a {
    text-decoration: underline !important;
    color: #5C7880;
}

input[type=checkbox] {
    margin-top: 10px;
}

.e_agree_terms_text {
    font-size: 1.2rem;
}

.e_agree_terms_alert {
    color: #D3554A;
    font-size: 1rem;
    margin: 10px 0 0 22px;
    display: block;
}

@media screen and (max-width: 576px) {
    .e_receipt_info .e_receipt_info_text {
        font-size: 1.1rem;

    }

    .e_receipt_info .e_agree_terms .e_agree_terms_text {
        font-size: 1.1rem;

    }

}

/* form display none */
.e_search_postcode_form, .e_branches_select {
    display: none;
}


/* check log-in or first buy btn */
.btn-info.js-login, .btn-info.js-first-order{
    width: 250px;
    height: 40px;
    margin-right: 100px;
    margin-top: 10px;
    background-color: #E67348 !important;
    border: 0 !important;
}

.btn-info.js-login:hover, .btn-info.js-first-order:hover {
    background-color: #D3554A !important;

}

.new_btn{
    font-family: 'Noto Sans TC';
    font-weight: 300;
    /* 這是次細的(light) */
    /* letter-spacing: 2px; */
    font-size: 1.1rem;
    color: #5C7880;
}


