/* 以下是英文字型，是標題大小，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 (只有食譜細節頁的標題會改粗體可以直接在html裡加粗體的標籤)*/
.en_font {
    font-family: 'Lao MN', 'Arya';
    font-size: 2rem;
    color: #5C7880;
}

/* 以下是中文字型＿light，內文用，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
.noto_light {
    font-family: 'Noto Sans TC';
    font-weight: 300;
    /* 這是次細的(light) */
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: #5C7880;

}

/* 以下是中文字型_thin，次要內文用，其他如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
.noto_thin {
    font-family: 'Noto Sans TC';
    font-weight: 100;
    /* 這是最細的(thin) */
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: #5C7880;

}

/* 以下是中文字型標題大小 regular，頁面大標題用，如果要改字級大小(參考ＸＤ檔)再去要改的class設定 */
.noto_regular {
    font-family: 'Noto Sans TC';
    letter-spacing: 2px;
    font-size: 2rem;
    color: #5C7880;

}

.pre_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all ease .5s;
    transform: translateX(100%);
    z-index: 100;
}

.pre_wrap.open {
    transform: translateX(0%);
}

.pre_bg {
    height: 100vh;
    background: url(../img/pages/prelanding/pre_landing_page_bg1.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
}

.r_intro {
    position: relative;
}

.e_wheat {
    width: 200px;
    position: absolute;
    top: 9.5rem;
    left: 13rem;
    transform: rotate(20deg);
}

.pre_bg h2 {
    font-family: 'Noto Sans TC';
    letter-spacing: 2px;
    font-size: 2rem;
    color: #5C7880;
    position: absolute;
    top: 14rem;
    left: 8rem;

}

.e_subtitle {
    position: absolute;
    top: 18rem;
    left: 8rem;

}

.pre_btn_wrap {
    position: absolute;
    top: 26rem;
    left: 8rem;
}

.pre_btn_outline {
    width: 170px;
    height: 55px;
    background-color: #fff;
    border: 2px solid #E67348;
    color: #E67348;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

}

.pre_btn_outline:hover {
    background-color: #E67348;
    color: #fff;
}

.pre_btn_outline:focus {
    outline: none;
}

.skip {
    color: #E67348;
    font-size: 1rem;
    align-items: center;
    align-self: center;
    margin: 0;
    margin-left: 2rem;

}

.pre_btn_wrap a:hover {
    color: #E67348;
    text-decoration: none;

}

#spin_wheel_wrap {
    width: 1400px;
    height: 1400px;
    position: absolute;
    left: 100%;
    /*right: 40px;*/
    top: 50%;
    margin-left: -520px;
    margin-top: -645px;
    display: block;
    z-index: 10;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.wheel-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: rotate(0deg);
}

.r_wheel {
    position: relative;
    transform: rotate(90deg);
}

.r_wheel_line {
    position: absolute;
    max-width: 300px;
    right: 5%;
}

.btn_open_wheel {
    position: absolute;
    top: 15%;
    right: 100%;
}

.open_wheel {
    height: 80px;
    transform: scaleX(1.4);
    width: 20px;}

.r_wheel_warp {

}

.r_wheel_box {
    position: relative;
    width: 480px;
    height: 400px;
    /*border: 1px solid #000000;*/
    /*top: 420px;*/
    /*left: 500px;*/
    /*transform: rotate(216deg);*/
}

.r_wheel_lid {
    max-width: 280px;
    top: 150px;
    left: 117px;
    /*display: none;*/
    /*transition: all;*/
    transform-origin: 700px 100px;
    animation-duration: .36s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    z-index: 60;
}

.r_wheel_lid.open {
    animation-name: open;
}

.r_wheel_lid.close {
    animation-name: close;
}

.r_wheel_plate {
    width: 350px;
    top: 296px;
    left: 70px;
}

.r_wheel_box_in {
    transform: scale(0.01);
    transform-origin: center bottom;
    animation-duration: .36s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.r_wheel_box_in.grow {
    animation-name: grow;
}

.r_wheel_box_in.shrink {
    animation-name: shrink;
}

.r_wheel_noodle_box {
    position: relative;
    width: 250px;
    height: 200px;
    top: 100px;
    left: 105px;
}

.r_wheel_noodle {
    max-width: 100%;
    top: 40px;
    left: 25px;
}

.r_abs {
    position: absolute;
}

.r_wheel_f_n {
    font-size: 4rem;
    top: 95px;
}

.r_wheel_f_p {
    font-size: 1.5rem;
    top: 100px;
    left: 50px;
}

.r_wheel_f_g {
    font-size: 1.5rem;
    border: 1px solid #D3554A;
    border-radius: 50%;
    line-height: 44px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #D3554A;
    text-decoration: none;
    right: 50px;
    top: 225px;
    z-index: 50;
}

@keyframes open {
    0% {
        transform: rotate(0deg) translate(0, 0)
    }
    100% {
        transform: rotate(32deg) translate(0, 0)
    }
}

@keyframes close {
    0% {
        transform: rotate(32deg) translate(0, 0)
    }
    100% {
        transform: rotate(0deg) translate(0, 0)
    }
}

@keyframes grow {
    0% {
        transform: scale(0.01);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.01);
    }
}
