  p.noto_thin {
            font-family: 'Noto Sans TC';
            font-weight: 100;
            /* 這是最細的(thin) */
            letter-spacing: 2px;
            font-size: 1.3rem;
            color: #5C7880;
        }

        .noto_light {
            font-family: 'Noto Sans TC';
            font-weight: 300;
            /* 這是次細的(light) */
            letter-spacing: 2px;
            font-size: 1.3rem;
            color: #5C7880;
        }

        .en_font {
            font-family: 'Lao MN', 'Arya';
            font-size: 2rem;
            letter-spacing: 2px;
            color: #5C7880;
            padding-top: 15px; /* adjusted */
        }

        .noto_regular {
            font-family: 'Noto Sans TC';
            letter-spacing: 2px;
            font-size: 2rem;
            color: #5C7880;
        }


        /* ----------以下為非模組字體設定---------- */
        .product_detail_big_en_font {
            font-family: 'Lao MN', 'Arya';
            font-size: 1.5rem;
            letter-spacing: 2px;
            color: #5C7880;
        }

        .product_detail_big_en_font_r {
            font-family: 'Lao MN', 'Arya';
            font-size: 1.6rem;
            letter-spacing: 2px;
            color: #E67348;
        }

        .product_detail_big_two_en_font_b {
            font-family: 'Lao MN', 'Arya';
            font-size: 1.6rem;
            letter-spacing: 2px;
            color: #5C7880;
        }

        .product_detail_small_noto_thin {
            font-family: 'Noto Sans TC';
            font-weight: 100;
            /* 這是最細的(thin) */
            letter-spacing: 2px;
            font-size: 1rem;
            color: #E67348;
        }

        .product_detail_small_noto_thin_b {
            font-family: 'Noto Sans TC';
            font-weight: 100;
            /* 這是最細的(thin) */
            letter-spacing: 2px;
            font-size: 1rem;
            color: #5C7880;
        }

        .product_detail_small_en_font {
            font-family: 'Lao MN', 'Arya';
            font-size: 1rem;
            letter-spacing: 2px;
            color: #E67348;
        }

        .product_detail_big_en_font {
            font-family: 'Lao MN', 'Arya';
            font-size: 2rem;
            letter-spacing: 2px;
            color: #E67348;
        }

        .product_detail_big_en_font_b2 {
            font-family: 'Lao MN', 'Arya';
            font-size: 2rem;
            letter-spacing: 2px;
            color: #5C7880;
        }

        .product_detail_big_en_font_b {
            font-family: 'Lao MN', 'Arya';
            font-size: 2.5rem;
            letter-spacing: 2px;
            color: #5C7880;
        }

        .product_detail_small_en_font_b {
            font-family: 'Lao MN', 'Arya';
            font-size: 1rem;
            letter-spacing: 2px;
            color: #5C7880;
        }

        .product_detail_small_two_en_font_b {
            font-family: 'Lao MN', 'Arya';
            font-size: 1.3rem;
            letter-spacing: 2px;
            color: #5C7880;
            margin-top: -15px;  /*  */
        }

        .product_detail_small_two_en_font_r {
            font-family: 'Lao MN', 'Arya';
            font-size: 1.3rem;
            letter-spacing: 2px;
            color: #E67348;
        }

        .product_detail_noto_light_big {
            font-family: 'Noto Sans TC';
            font-weight: 300;
            /* 這是次細的(light) */
            letter-spacing: 2px;
            font-size: 1.6rem;
            color: #5C7880;
            /* padding-top:15px; */
        }

        /* ----------以上為非模組字體設定---------- */


        .w_product_detail_transition {
            transition: all .2s;
            -webkit-transition: all .2s ease;
            cursor: pointer;
            /* color: #fff !important; */
        }


        /* ----------------------------------以下區域大盒子設定------------------------------------ */

        .w_product_detail_wrapper_one {
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -3px;/* fixed top margin */
            
        }

        .w_product_detail_wrapper_two {
            width: 90%;
            margin: 0 auto;
        }

        .w_product_detail_wrapper_three {
            width: 90%;
            margin: 0 auto;
        }

        .w_product_detail_wrapper_four {
            /* ----------此為寫評論、送出按鈕區域---------- */
            width: 90%;
            margin: 0 auto;
            /* display: none; */
            text-align: center;
        }

        .w_product_detail_wrapper_five {
            /* ----------此為寫評價按鈕區域(隱藏中)---------- */
            width: 90%;
            margin: 0 auto;
            text-align: center;
            display: none;
        }

        .w_product_detail_wrapper_six {
            /* ----------此為為購買提醒、立即購買按鈕區域(隱藏中)---------- */
            width: 90%; 
            margin: 0 auto;
            text-align: center;
            display: none;
        }

        /* ----------------------------------以上區域大盒子設定------------------------------------ */



        /* ----------以下為商品照片灰色背景---------- */
        .w_product_detail_bg {
            width: 60vw;
            height: 100vh;
            background-color: #DCDCDC;
        }

        /* ----------以上為商品照片灰色背景---------- */




        /* ----------以下為商品照片---------- */
        .w_product_detail_img_box {
            width: 60vw;
            margin: auto;
            height: 100%; /*  */
            /*  */
            display: flex;
            justify-content: center;
            align-items: center;
            /*  */
        }

        .w_product_detail_img {
            width: 60vw;
            height: 100vh;
            margin: auto;
            object-fit: cover;
            display: block;
        }

        .w_product_detail_img_box:hover .w_product_detail_img {
            display: none;
        }

        .w_product_detail_small_pasta_img {
            /* width: 60vw; */
            /*  */
            max-width: 2000px;
            max-height: 2000px;
            margin: auto;
            display: none;
            transform: scale(1.2);
        }

        .w_product_detail_img_box:hover .w_product_detail_small_pasta_img {
            display: block;
            padding-top: 100px; /*  */

        }

        /* ----------以上為商品照片---------- */



        /*--------- 以下為麵包屑的設定 --------- */
        .w_product_detail_word {
            padding-top: 5%; /* adjust from 3%->5% */
            padding-right: 0%;
            padding-left: 5%;
            width: 50vw;
        }

        .w_product_detail_breadcrumbs_box {
            display: flex;
            border-bottom: #5C7880 1px solid;
            padding-bottom: 2%;
            margin-bottom: 10%;
        }

        .w_product_detail_breadcrumbs_box>a {
            text-decoration: none;
            color: #5C7880;
        }

        .w_product_detail_breadcrumbs_ch,
        .w_product_detail_breadcrumbs_en {
            padding-right: 10px;
            padding-left: 10px;
        }

        .w_product_detail_word>.w_product_detail_breadcrumbs_box>a>.w_product_detail_breadcrumbs_ch {
            display: none;
        }

        .w_product_detail_word>.w_product_detail_breadcrumbs_box>a:hover .w_product_detail_breadcrumbs_ch {
            display: block;
            color: #E67348;
        }

        .w_product_detail_word>.w_product_detail_breadcrumbs_box>a>.w_product_detail_breadcrumbs_en {
            margin-top: -26px;
        }

        .w_product_detail_word>.w_product_detail_breadcrumbs_box>a:hover .w_product_detail_breadcrumbs_en {
            display: none;
        }

        /*--------- 以上為麵包屑的設定 --------- */



        /*--------- 以下為大標、愛心設定--------- */
        .w_product_detail_bigtitle {
            display: flex;
            align-items: center;
        }

        /* .w_product_detail_bigtitle img {
            width: 6%;
            margin-left: 15%;
        } */
        /* new adjust fontawesome */
        .w_product_detail_bigtitle .en_font{
            width:100%;
        }
        .heart_p .far{
            font-size: 1.3rem;
             margin-left: 16%;
             cursor: pointer;
        }
        /*  */


        .w_product_detail_bigtitle p {
            margin-bottom: -4px;
        }

        /*--------- 以上為大標、愛心設定--------- */


        /*---------- 以下為星星旁邊的數字設定（2 Reviews） ----------*/

        .star_padi_one {
            padding-top: 10px; /* adjust from 20->10 */
            padding-right: 6px;
            padding-left: 10px;
        }

        .star_padi_two {
            padding-top: 7px;/* adjust from 18->7 */
            padding-left: 20px;
        }

        /*---------- 以上為星星旁邊的數字設定（2 Reviews） ----------*/






        /*---------- 以下為星星設定---------- */
        .w_product_detail_star_box_in {
            display: flex;
            align-items: center;
            margin-top: 15px;
            /* adjust from 5->15px */
        }

        .w_review2,
        .w_review1 {
            width: 5%;
            margin-right: 5px;
        }

        /*---------- 以上為星星設定 ----------*/





        /* ----------以下為金額、免運文字設定---------- */
        .w_product_detail_star_box_in_money {
            margin-top: 15px;/*  */
        }
        
        .w_product_detail_star_box_in_money p {
            margin-bottom: -10px;
        }

        /* ----------以上為金額、免運文字設定---------- */






        /* ----------以下為500g (7人份)、數量按鍵盒子設定---------- */

        .w_product_detail_word_box_in {
            display: flex;
            align-items: center;
            margin: 10% 0% 5% 0%;
        }

        .w_product_detail_number {
            /* border: #5C7880 1px solid; */
            margin-left: 50px;
            /* margin-bottom: 10px; */
            padding: 20px 65px;
        }
        .input-box {
            display: inline-block;
            min-width: 50px;
            /* border: 1px solid #ccc; */
            padding-top:1px;
            padding-bottom: 2px;
            border-top:#5C7880 1px solid;
            border-bottom: #5C7880 1px solid;
            text-align: center;
        }

        .input-box:focus {
            outline: none;
        }
        .number-box button:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem #C8DBD8;
        }

        .w_input_change_style{
             /* ----------數量按鍵樣式設定---------- */
            background: rgb(255, 255, 255);
            border: #5C7880 1px solid;
        }
        

        /* ----------以上為500g (7人份)、數量按鍵盒子設定---------- */





        /*---------- 以下為加入購物車橘色大按鈕---------- */

        .w_product_detail_cart_btn a {
            margin: 0 auto;
            width: 100%;
            height: 70px;
            padding: 3.5% 20%;
            background-color: #E67348;
            border-radius: 5px;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
        }

        .w_product_detail_cart_btn:hover a {
            background-color: #D3554A;
        }

        /*---------- 以上為加入購物車橘色大按鈕---------- */






        /*----------------------------------- 以下開始為商品介紹設定（從商品介紹開始） ------------------------------------- */






        /* ----------以下為大標文字設定---------- */
        .w_product_detail_title {
            margin: 0 auto;
            text-align: center;
            width: 20%;
            padding: 70px 0px 40px 0px;
        }

        .w_product_detail_title_line {
            border-bottom: #5C7880 1px solid;
            padding: 15px 0px;
        }

        /* ----------以上為大標文字設定---------- */




        /* ----------以下為介紹文字、三個icon設定---------- */

        .w_product_detail_word_box {
            margin: auto;
            text-align: justify;
        }

        .w_product_detail_icon {
            display: flex;
            margin: 40px 0px;
            text-align: center;
        }

        .w_product_detail_icon img {
            width: 25%;
        }

        /* ----------以上為介紹文字、三個icon設定---------- */


        /* ----------以下為推薦食譜區域---------- */
        .w_product_detail_recipe_bg {
            position: relative;
            z-index: 1;
        }

        .w_product_detail_recipe_bg img {
            margin: 70px auto;
            width: 100%;
            height: 600px;
            object-fit: cover;
        }

        .w_product_detail_recipe_title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px 0px;
            background-color: #ffffffd8;
            margin: auto;
            position: absolute;
            z-index: 2;
        }

        .w_product_detail_recipe_title img {
            width: 35%;
            height: 35%;
        }

        .w_product_detail_recipe_title_btn {
            padding: 3% 18%;
            margin-top: 20px;
            border-radius: 5px;
            text-align: center;
            border: #E67348 1px solid;
        }

        .w_product_detail_recipe_title_btn a {
            text-decoration: none;
            color: #E67348;

        }

        /* ----------以上為推薦食譜區域---------- */


        /* ----------以下為你可能喜歡區域---------- */

        .w_product_detail_like {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 4;
            margin-top: 40px;
        }

        .w_product_detail_like_word_box {
            width: 50%;
        }

        .w_product_detail_like_word_one {
            width: 70%;
            margin-bottom: 25px;
        }

        .w_product_detail_like_word_one p {
            display: flex;
            justify-content: flex-end;
            padding-top:15px;/*  */
        }

        .w_product_detail_like_word_two {
            border: #5C7880 1px solid;
            width: 90%;
        }

        .w_product_detail_like_word_two_word {
            margin-top: 13%;
            margin-left: 42%;
            width: 50%;
        }

        .w_product_detail_like_word_btn {
            padding: 3% 18%;
            margin-top: 10%;
            margin-bottom: 10%;
            border-radius: 5px;
            text-align: center;
            width: 70%;
            border: #E67348 1px solid;
        }

        .w_product_detail_like_word_btn a {
            text-decoration: none;
            color: #E67348;
        }

        .w_product_detail_like_img_box {
            width: 50%;
        }

        .w_product_detail_like_img_box img {
            margin-top: -30%;
            width: 100%;
        }

        .w_product_detail_like_img_box_bg {
            position: absolute;
            z-index: 3;
            width: 80%;
            height: 370px;
            display: flex;
            margin-left: 10%;
            margin-top: -461px;/*  */
        }

        .w_product_detail_like_img_box_bg img {
            width: 100%;
            object-fit: cover;

        }

        .w_product_detail_like_word_line {
            border-bottom: #5C7880 1px solid;
            padding: 15px 0px;

        }

        /* ----------以上為你可能喜歡區域---------- */



        /* ----------以下為底部評價區域---------- */
        .w_product_detail_wrapper_three {
            /* 底部評價區域最大盒子 */
            width: 75%;
            margin: auto;
        }


        .w_bottom_review_word_box {
            /* 底部評價區域小盒子 */
            display: flex;
            justify-content: space-between;
            margin: 40px 0px;
        }

        .w_bottom_review_star_box {
            /* 評價區域標題單顆星星盒子 */
            text-align: center;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .w_bottom_review_star_box img {
            /* 評價區域標題單顆星星 */
            width: 2.5%;
            margin-right: 10px;
            margin-bottom: 24px;
        }

        .w_bottom_review_star_bigbox_in {
            /* 評價區域標題5顆星星盒子 */
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .w_bottom_review2,
        .w_bottom_review1 {
            /* 評價區域標題5顆星星 */
            width: 7%;
            margin-right: 5px;
        }

        .w_product_detail_star_box_wordin {
            /* 評價區域標題5顆星星 */
            text-align: justify;
        }

        .w_bottom_review_ciecle_box {
            /* 橘色圓形盒子 */
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 20%;
        }

        .w_bottom_review_ciecle {
            /* 橘色圓形邊線 */
            border: #E67348 1px solid;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            padding-top: 10%;
        }

        .w_bottom_review_word_two {
            width: 35%;
        }

        .w_bottom_review_word_line {
            /* 文字底線 */
            border: #5C7880 0.5px solid;
        }

        /* ----------以上為底部評價區域---------- */





        /* ----------以下為顧客寫評價區域---------- */
        .w_writing_review_name_box {
            display: flex;
            width: 100%;
            padding: 20px;
            border: #5C7880 1px solid;
            border-bottom: none;
        }

        .w_writing_review_name {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .w_writing_review_name_date {
            width: 85%;
            /* display: flex; */
            text-align: right;
        }

        .w_writing_review_star_box {
            text-align: start;
        }

        .w_writing_review_star_box img {
            width: 3%;
        }

        .w_writing_review_box textarea {
            padding: 30px;
            width: 100%;
            margin-bottom: 30px;
            /* color: #DBDBDB; */
            
        }

        /* ----------以上為顧客寫評價區域---------- */




        /* ----------以下為送出按鈕區域---------- */

        .w_btn {
            margin: auto;
            width: 372px;
            height: 70px;
            border: 0;
            background-color: #E67348;
            color: #fff;
            font-size: 1.3rem;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
        }

        .w_btn:hover {
            background-color: #D3554A;

        }

        .w_btn:focus {
            outline: none;
        }

        /* ----------以上為送出按鈕區域---------- */





        /* ----------以下為撰寫評價按鈕區域---------- */
        .w_outline_btn {
            width: 372px;
            height: 70px;
            border: #E67348 1px solid;
            background-color: rgb(255, 255, 255);
            color: #E67348;
            font-size: 1.3rem;
            border-radius: 5px;
            cursor: pointer;
        }

        .w_outline_btn:focus {
            outline: none;
        }

        /* ----------以下為撰寫評價按鈕區域---------- */



        /* ----------以下為購買提醒、立即購買按鈕區域---------- */
        .w_product_detail_attention {
            padding: 100px 0px 50px 0px;
        }

        /* ----------以上為購買提醒、立即購買按鈕區域---------- */








        @media screen and (max-width:575.98px) {

            /* ----------以下為寫評論、送出區域(隱藏中)---------- */
            .w_product_detail_wrapper_four {
                display: none;
            }

            /* ----------以上為寫評論、送出區域(隱藏中)---------- */




            /* ----------以下為麵包屑(隱藏中)---------- */

            .w_product_detail_breadcrumbs_box {
                display: none;
            }

            /* ----------以上為麵包屑(隱藏中)---------- */


            .noto_thin {
                font-size: 1rem;
            }

            .noto_light {
                font-size: 1rem;
            }

            .en_font {
                font-size: 1.2rem;
            }

            .noto_regular {
                font-size: 1.2rem;
            }


            /* ----------以下為非模組字體設定---------- */
            .product_detail_big_en_font {
                font-size: 1rem;
            }

            .product_detail_big_en_font_r {
                font-size: 1.2rem;
            }

            .product_detail_small_noto_thin {
                font-size: 1rem;
            }

            .product_detail_small_noto_thin_b {
                font-size: 1rem;
            }

            .product_detail_big_en_font_b2 {
                font-size: 1.4rem;
            }

            .product_detail_small_en_font {
                font-size: 1rem;
            }

            .product_detail_big_en_font {
                font-size: 1.2rem;
            }

            .product_detail_big_en_font_b {
                font-size: 1.4rem;
            }

            .product_detail_small_en_font_b {
                font-size: 1rem;
            }

            .product_detail_small_two_en_font_b {
                font-size: 1rem;
            }

            .product_detail_noto_light_big {
                /* 這是次細的(light) */
                font-size: 1.2rem;
            }

            .product_detail_small_two_en_font_r {
                font-size: 1rem;
            }

            /* ----------以上為非模組字體設定---------- */




            .w_product_detail_wrapper_one {
                flex-direction: column;
            }


            /* ----------以下為商品照片灰色背景---------- */
            .w_product_detail_bg {
                width: 100vw;
                height: 55vh;
            }

            /* ----------以上為商品照片灰色背景---------- */



            /* ----------以下為商品照片---------- */
            .w_product_detail_img_box {
                width: 100vw;
                height: 55vh;
            }

            .w_product_detail_img {
                width: 100vw;
                height: 55vh;
            }

            .w_product_detail_img_box:hover .w_product_detail_img {
                display: none;
            }

            .w_product_detail_small_pasta_img {
                width: 100vw;
                margin: auto;
                display: none;
                transform: scale(1);
            }

            .w_product_detail_img_box:hover .w_product_detail_small_pasta_img {
                display: block;
                padding-top: 30px;
            }

            /* ----------以上為商品照片---------- */




            /* ----------以下為品名內容區域---------- */
            .w_product_detail_word {
                margin-top: 6%;
                width: 90vw;
            }

            /* ----------以上為品名內容區域---------- */





            /*--------- 以下為大標、愛心設定--------- */
            /* .w_product_detail_bigtitle img {
                width: 7%;
                margin-left: 100%;
                margin-top: -20%;
            } */
        

            .w_product_detail_bigtitle p {
                /* margin-bottom: -30px; */
            }
       
            .heart_p{
                margin-left:21%;
                
            }

            /*--------- 以上為大標、愛心設定--------- */




            /*---------- 以下為星星旁邊的數字設定（2 Reviews） ----------*/

            .star_padi_one {
                    padding-top: 23px;
            }

            .star_padi_two {
                padding-top:22px;
 
            }

            /*---------- 以上為星星旁邊的數字設定（2 Reviews） ----------*/




            /*---------- 以下為星星設定---------- */
            .w_product_detail_star_box_in {
            margin-top: 14px;
            }
            /*---------- 以上為星星設定 ----------*/


             /* ----------以下為金額、免運文字設定---------- */

            .w_product_detail_star_box_in_money p {
                margin-bottom: -5px;
            }

        /* ----------以上為金額、免運文字設定---------- */



            /* ----------以下為500g (7人份)、數量按鍵盒子設定---------- */
            .w_product_detail_word_box_in {
                margin: 10% 0%;
            }
            .w_product_detail_number {
            /* border: #5C7880 1px solid; */
                margin-left: 12px;
                margin-bottom: 10px;
                padding: 20px;
            }        
            /* ----------以上為500g (7人份)、數量按鍵盒子設定---------- */

            .input-box{
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .w_input_change_style{
                padding: 15px 20px;
            }






            /*---------- 以下為加入購物車橘色大按鈕---------- */
            .w_product_detail_cart_btn a {
                text-align: center;
                width: 100%;
                padding: 7% 30.5%;
            }

            /*---------- 以上為加入購物車橘色大按鈕---------- */




            /* ----------以下為大標文字設定---------- */
            .w_product_detail_title p {
                padding: 0px 0px 10px 0px;
            }

            .w_product_detail_title {
                width: 50%;
            }

            .w_product_detail_title_line {
                padding: 0px;
            }

            /* ----------以上為大標文字設定---------- */



            /* ----------以下為介紹文字、三個icon設定---------- */
            .w_product_detail_word_box {
                width: 90%;
            }

            .w_product_detail_icon img {
                width: 50%;
            }

            /* ----------以上為介紹文字、三個icon設定---------- */




            /* ----------以下為推薦食譜區域---------- */
            .w_product_detail_recipe_bg {
                height: 30%;
            }

            .w_product_detail_recipe_bg img {
                margin: 10px auto;
                width: 100%;
                height: 50%;
            }

            .w_product_detail_recipe_title {
                padding: 50px 0px;
                width: 50%;
            }

            .w_product_detail_recipe_title img {
                width: 15%;
                height: 15%;
            }

            /* ----------以上為推薦食譜區域---------- */



            /* ----------以下為你可能喜歡區域---------- */

            .w_product_detail_like {
                flex-direction: column;
                text-align: center;
            }

            .w_product_detail_like_word_box {
                width: 90%;
                text-align: start;
                margin: auto;
            }

            .w_product_detail_like_word_one {
                width: 100%;
            }

            .w_product_detail_like_word_two {
                margin-top: 15%;
                width: 100%;
            }

            .w_product_detail_like_word_two_word {
                margin-top: 15%;
                margin-left: 6%;
                width: 50%;
            }

            .w_product_detail_like_word_btn {
                margin-left: 10;
                width: 100%;
            }

            .w_product_detail_like_img_box img {
                margin-top: -150%;
                margin-left: 100%;
            }

            .w_product_detail_like_img_box_bg {
                position: absolute;
                z-index: 3;
                width: 100%;
                height: 180px;
                display: flex;
                margin-left: -5%;
                margin-top: -192px;/*  */
            }

            /* ----------以上為你可能喜歡區域---------- */


            /* ----------以下為底部評價區域---------- */
            .w_product_detail_wrapper_three {
                /* 底部評價區域最大盒子 */
                width: 75%;
                margin: auto;
            }


            .w_bottom_review_word_box {
                /* 底部評價區域小盒子 */
                display: flex;
                justify-content: space-between;
                margin: 40px 0px;
            }

            .w_bottom_review_star_box {
                /* 評價區域標題單顆星星盒子 */
                text-align: center;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .w_bottom_review_star_box img {
                /* 評價區域標題單顆星星 */
                width: 2.5%;
                margin-right: 10px;
                margin-bottom: 5px;
            }

            .w_bottom_review_star_bigbox_in {
                /* 評價區域標題5顆星星盒子 */
                display: flex;
                align-items: center;
                margin-top: 10px;
            }

            .w_bottom_review2,
            .w_bottom_review1 {
                /* 評價區域標題5顆星星 */
                width: 7%;
                margin-right: 5px;
            }

            .w_product_detail_star_box_wordin {
                /* 評價區域標題5顆星星 */
                text-align: justify;
            }

            .w_bottom_review_ciecle_box {
                /* 橘色圓形盒子 */
                display: flex;
                align-items: center;
                text-align: center;
                margin-bottom: 20%;
            }

            .w_bottom_review_ciecle {
                /* 橘色圓形邊線 */
                border: #E67348 1px solid;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                padding-top: 10%;
            }

            .w_bottom_review_word_two {
                width: 35%;
            }

            .w_bottom_review_word_line {
                /* 文字底線 */
                border: #5C7880 0.5px solid;
            }

            /* ----------以上為底部評價區域---------- */


            /* ----------以下為底部評價區域---------- */

            .w_product_detail_wrapper_three {
                /* 底部評價區域最大盒子 */
                width: 90%;
                margin: auto;
            }


            .w_bottom_review_word_box {
                /* 底部評價區域小盒子 */
                flex-direction: column;
                align-items: center;
            }

            .w_bottom_review_star_box {
                /* 評價區域標題單顆星星盒子 */
                margin-top: -40px;
            }

            .w_bottom_review_star_box img {
                /* 評價區域標題單顆星星 */
                width: 5%;
                margin-bottom: 20px;
            }

            .w_bottom_review_star_bigbox_in {
                /* 評價區域標題5顆星星盒子 */
                justify-content: center;
            }

            .w_bottom_review2,
            .w_bottom_review1 {
                /* 評價區域標題5顆星星 */
                width: 5%;
            }

            .w_bottom_review_ciecle {
                /* 橘色圓形邊線 */
                padding-top: 20%;
                margin: auto;
            }

            .w_bottom_review_word_one {
                order: 1;
            }

            .w_bottom_review_word_two {
                width: 90%;
                order: 3;
            }

            .w_bottom_review_word_three {
                margin: 0px 0px 10px 0px;
                order: 2;
            }

            /* ----------以上為底部評價區域---------- */





            /* ----------以下為送出按鈕區域---------- */
            .w_btn {
                width: 100%;
            }

            /* ----------以上為送出按鈕區域---------- */


        }


        /* html套入bootstrap樣式修改（加入購物車按鈕） */
        .col-md-9.w_product_detail_cart_btn{
            margin-left: -16px !important;
            margin-top: -20px;
        }


          /* comment text placeholder */
        textarea::placeholder {
            font-family: 'Noto Sans TC';
            font-weight: 300;
            letter-spacing: 2px;
            font-size: 1.3rem;
            color: #DBDBDB ;
        }


        /* ---style adjust --- */
        a.add_to_cart_btn {
            color: #fff !important;
        }
     