  body {
            overflow-x: hidden;
        }

        /* classname add <p> to avoid footer conflict */
        p.noto_thin {
            font-family: 'Noto Sans TC';
            font-weight: 100;
            /* 這是最細的(thin) */
            letter-spacing: 2px;
            font-size: 1.3rem;
            color: #5C7880;
            padding-top: 15px;
        }

        .noto_light {
            font-family: 'Noto Sans TC';
            font-weight: 300;
            /* 這是次細的(light) */
            letter-spacing: 2px;
            font-size: 1.3rem;
            color: #5C7880;

        }

        .en_font {
            font-family: 'Lao MN', 'Arya';
            font-size: 2rem;
            letter-spacing: 2px;
            color: #5C7880;
        }

        .noto_regular {
            font-family: 'Noto Sans TC';
            letter-spacing: 2px;
            font-size: 2rem;
            color: #5C7880;
        }


        /* ----------以下為非模組字體設定---------- */
        .w_recipes_detail_title_en_font {
            font-family: 'Lao MN', 'Arya';
            font-size: 4rem;
            letter-spacing: 2px;
            color: #5C7880;
        }

        .w_recipes_detail_title_noto_light {
            font-family: 'Noto Sans TC';
            font-weight: 300;
            /* 這是次細的(light) */
            letter-spacing: 2px;
            font-size: 2rem;
            color: #5C7880;
        }

        .w_recipes_detail_best_en_font {
            font-family: 'Lao MN', 'Arya';
            font-size: 1.3rem;
            letter-spacing: 2px;
            color: #5C7880;
        }

        .product_detail_small_noto_thin_b {
            font-family: 'Noto Sans TC';
            font-weight: 100;
            /* 這是最細的(thin) */
            letter-spacing: 2px;
            font-size: 1rem;
            color: #5C7880;
        }


        /* ----------以上為非模組字體設定---------- */


        /*--------- 以下為麵包屑的設定 --------- */
        .w_recipes_detail_breadcrumbs_word_big_box {
            display: flex;
            justify-content: flex-end;
        }

        .w_recipes_detail_breadcrumbs_word {
            padding-top: 9%;
            padding-right: 0%;
            width: 35vw;
        }

        .w_recipes_detail_breadcrumbs_box {
            display: flex;
            border-bottom: #5C7880 1px solid;
            padding-bottom: 2%;
            /* margin-bottom: 10%; */
        }

        .w_recipes_detail_breadcrumbs_box > a {
            text-decoration: none;
            color: #5C7880;
        }

        .w_recipes_detail_breadcrumbs_ch,
        .w_recipes_detail_breadcrumbs_en {
            padding-right: 10px;
            padding-left: 10px;
        }

        .w_recipes_detail_breadcrumbs_word > .w_recipes_detail_breadcrumbs_box > a > .w_recipes_detail_breadcrumbs_ch {
            display: none;
        }

        .w_recipes_detail_breadcrumbs_word > .w_recipes_detail_breadcrumbs_box > a:hover .w_recipes_detail_breadcrumbs_ch {
            display: block;
            color: #E67348;
        }

        .w_recipes_detail_breadcrumbs_word > .w_recipes_detail_breadcrumbs_box > a > .w_recipes_detail_breadcrumbs_en {
            margin-top: -26px;
        }

        .w_recipes_detail_breadcrumbs_word > .w_recipes_detail_breadcrumbs_box > a:hover .w_recipes_detail_breadcrumbs_en {
            display: none;
        }

        /*--------- 以上為麵包屑的設定 --------- */


        /*--------- 以下為菜色照片、標題文字的設定 --------- */
        .w_recipes_detail_wrapper_one {
            width: 100%;
            margin: auto;
            /* background-color: aquamarine; */
            display: flex;
            justify-content: space-between;
        }

        .w_recipes_detail_big_img_box {
            /* margin-top: -30px; */
            width: 55vw;
            height: 70vh;
            /* background-color: rgb(177, 177, 177); */
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;
            /* margin-top: 8%; */
        }

        .w_recipes_detail_big_img_box img {
            width: 100%;
            object-fit: cover;
        }

        .w_recipes_detail_big_word_box {
            width: 45vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            margin-left: 50%;
            margin-top: 10%;
            word-break: normal;
        }

        .w_recipes_detail_big_word_opacity {
            padding: 5%;
            background-color: rgba(255, 255, 255, 0.685);
        }

        /*--------- 以上為菜色照片、標題文字的設定 --------- */


        /*--------- 以下為介紹內文設定 --------- */
        .w_recipes_detail_wrapper_two {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: center;
        }

        .w_recipes_detail_introduction {
            width: 60%;
            text-align: justify;
            margin: 80px 0px 60px 0px;
        }

        /*--------- 以上為介紹內文設定 --------- */


        /*--------- 以下為三個icon設定 --------- */
        .w_recipes_detail_icon {
            display: flex;
            margin: 40px 0px;
            text-align: center;
        }

        .w_recipes_detail_icon img {
            width: 25%;
        }

        /*--------- 以上為三個icon設定 --------- */


        /*--------- 以下為烹煮步驟、材料區域設定 --------- */
        .w_recipes_detail_wrapper_three {
            width: 90%;
            margin: auto;
            border: #E67348 1px solid;
            margin-right: 15%;
            margin-bottom: 80px;
        }

        .w_recipes_detail_cook_step {
            display: flex;
            flex-direction: column;
            text-align: justify;
            padding: 30px 30px 30px 100px;
            word-break: break-all;
        }

        .w_recipes_detail_cook_material {
            width: 130%;
            background-color: rgba(85, 85, 85, 0.192);
            padding: 30px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            word-break: break-all;
        }

        .w_recipes_detail_cook_material p {
            width: 70%;
        }

        .w_recipes_detail_cook_title_in {
            border-bottom: #5C7880 1px solid;
        }

        /*--------- 以上為烹煮步驟、材料區域設定 --------- */


        /*--------- 以下為最佳搭配區域設定 --------- */
        .w_recipes_detail_wrapper_four {
            width: 90%;
            margin: auto;
            margin-bottom: 80px;
        }

        .w_recipes_detail_best a {
            text-decoration: none;
        }

        .w_recipes_detail_best img {
            margin-top: 15px;
            width: 100%;
            object-fit: contain;
            background-color: #DBDBDB;
        }

        .w_recipes_detail_best_word_box {
            margin-top: 15px;
        }

        .w_recipes_detail_best p {
            margin-bottom: 0px;
        }

        .w_recipes_detail_best_money {
            margin-top: 20px;
        }

        /*--------- 以上為最佳搭配區域設定 --------- */


        @media (max-width: 1200px) {

            /*--------- 以下為麵包屑的設定 --------- */
            .w_recipes_detail_breadcrumbs_word_big_box {
                margin-bottom: 20px;
            }

            .w_recipes_detail_breadcrumbs_word {
                width: 60vw;
            }

            /*--------- 以上為麵包屑的設定 --------- */
            /*--------- 以下為菜色照片、標題文字的設定 --------- */
            .w_recipes_detail_big_img_box {
                width: 85vw;
            }

            .w_recipes_detail_big_img_box img {
                width: 100%;
                height: 55vh;
            }

            .w_recipes_detail_big_word_box {
                margin-top: 0%;
            }

            /*--------- 以上為菜色照片、標題文字的設定 --------- */

        }


        @media (max-width: 800px) {
            .w_recipes_detail_breadcrumbs_word_big_box {
                display: none;
            }

            p.noto_thin {
                font-size: 1rem;
            }

            .noto_light {
                font-size: 1rem;
            }

            .en_font {
                font-size: 1rem;
            }

            .noto_regular {
                font-size: 1.2rem;
            }


            /* ----------以下為非模組字體設定---------- */
            .w_recipes_detail_title_en_font {
                font-size: 2.2rem;
                line-height: 40px;
            }

            .w_recipes_detail_title_noto_light {
                /* 這是次細的(light) */
                font-size: 1.3rem;
            }

            .w_recipes_detail_best_en_font {
                font-size: 1rem;
            }

            /* ----------以上為非模組字體設定---------- */
            /*--------- 以下為菜色照片、標題文字的設定 --------- */
            .w_recipes_detail_wrapper_one {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .w_recipes_detail_big_img_box {
                width: 100vw;
                height: 55vh;
                display: flex;
                flex-direction: initial;
                justify-content: initial;
                align-items: initial;
                position: initial;
            }

            .w_recipes_detail_big_word_box {
                width: 100vw;
                justify-content: initial;
                position: initial;
                margin-left: 5%;
                margin-top: 5%;
            }

            /*--------- 以上為菜色照片、標題文字的設定 --------- */
            /*--------- 以下為介紹內文設定 --------- */
            .w_recipes_detail_introduction {
                width: 90%;
                margin: 20px 0px 50px 0px;
            }

            /*--------- 以上為介紹內文設定 --------- */
            /*--------- 以下為三個icon設定 --------- */
            .w_recipes_detail_icon {
                margin: 30px 0px 10px 0px;
            }

            .w_recipes_detail_icon img {
                width: 50%;
            }

            /*--------- 以上為三個icon設定 --------- */
            /*--------- 以下為烹煮步驟、材料區域設定 --------- */
            .w_recipes_detail_wrapper_three {
                width: 95%;
                margin-right: 5%;
                margin-bottom: 80px;
            }

            .w_recipes_detail_cook_step {
                padding: 0px 30px 10px 40px;
            }

            .w_recipes_detail_cook_material {
                width: 105%;
                padding: 30px 30px 10px 40px;
                margin-bottom: 40px;
            }

            .w_recipes_detail_cook_material p {
                width: 90%;
            }

            /*--------- 以上為烹煮步驟、材料區域設定 --------- */
            /*--------- 以下為最佳搭配區域設定 --------- */
            .w_recipes_detail_wrapper_four {
                margin-bottom: 40px;
            }

            /*--------- 以上為最佳搭配區域設定 --------- */

        }